@charset "utf-8";

html {
		
}

body {
	
	
}

.layer {
	color: white;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	text-align: center;
	
	
}
.box {
	display: inline-block;
	margin-right: -4px;
}

.even {
	background-color: #44accf;
	text-align: center;
	width: 110px;
	height: 110px;
	font-size: 96px;
}

.odd {
	background-color: #ee3e64;
	text-align: center;
	width: 110px;
	height: 110px;
	font-size: 96px;
}

.layer #box_0 {

}
.layer #box_1, #box_2{
	
}
.layer #box_2 {
}
.layer #box_3 {
}
.layer #box_4 {
}
.layer #box_5 {
}
.layer #box_6 {
}
.layer #box_7 {
}
.layer #box_8 {
}
.layer #box_9 {
}

