@charset "utf-8";

html {

}

body {


}

.layer {
    color: white;
    text-align: center;


}
.box {

}

.even {
    background-color: #44accf;
    width: 110px;
    height: 110px;
    font-size: 96px;
}

.odd {
    background-color: #ee3e64;
    width: 110px;
    height: 110px;
    font-size: 96px;
}

.layer #box_0 {

}
.layer #box_1 {
    display: block;
    margin-left: 110px;

}
.layer #box_2 {
    margin-left: 220px;
}
.layer #box_3 {
    margin-left: 330px;
}
.layer #box_4 {
    margin-left: 440px;
}
.layer #box_5 {
    margin-left: 440px;
}
.layer #box_6 {
    margin-left: 330px;
}
.layer #box_7 {
    margin-left: 220px;
}
.layer #box_8 {
    margin-left: 110px;
}
.layer #box_9 {
}

