

a {
	margin: 10px;
	padding: 10px;
	background-color: #eeeeee;
}

p {
	width: 350px;
	background-color: #eeeeee;
}





.block {
	display: block;
	
}

.inline {
	display: inline;
}

.inline-block {
	width: 180px;
	margin: 10px;
	padding: 20px;
	background #eee;
	display: inline-block;
}

.inline-block-vertical-align-top {
	width: 180px;
	margin: 10px;
	padding: 20px;
	background #eee;
	display: inline-block;
	vertical-align: top;
}
