
* {
	margin: 0;
	padding: 0;
}

#slug_1 {
	box-sizing: content-box;
	background-color: #ECA008;
	padding: 50px;
	margin: 10px;
	border: 3px solid black;
	width: 200px;
	height: 200px;	
}

#slug_2 {
	box-sizing: content-box;
	background-color: #ECA008;
	padding: 10px;
	margin: 50px;
	border: 3px solid black;
	width: 200px;
	height: 200px;
}
