html, body {
    margin: 0;
    height: 100%;
    background-color: #212121;
}

nav {
    margin: 0;
    height: 100px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 35%;
}

.topBar {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 2;
    padding-left: 10px;
    background-color: #0098d2;
    color: white;
}

.bottomList {
    background-color: #78ce1e;
    display: grid;
    grid-column: 1;
    grid-row: 2 / 3;
    
}

ul {
	background-color: #78ce1e;
    display: flex;
    flex-direction: row;
}

a {
	color: white;
	text-decoration: none;
}

li {
    list-style-type: none;
    line-height: 5px;
    padding-right: 18px;
    
}

.main-content {
    height: 100%;
   	margin: 3% 10% 3% 10%; 
    border-radius: 1%; 
    height: 100%;
    background-color: white;
}

.headline {
    display: block;
    text-align: center;
    margin: 0;
    height: 5%;
}


.items {
	display: grid;
 	height: 94%;
    max-height: 94%; 
    
    grid-template-columns: 2% 25% 73%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.itemsTable {
	display: grid;
 	height: 94%;
    max-height: 94%; 
    
    grid-template-columns: 2% 25% 73%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.itemsDetail {
	display: grid;
 	height: 94%;
    max-height: 94%; 
    
    grid-template-columns: 2% 25% 73%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.toyImage {
	display: grid;
    grid-column: 2 / 3;
    
}

.toyImage img {
	max-height: 100%;
	max-width: 100%;
}

.description {
	display: flex;
	flex-direction: column;
	/* max-height: 100%;
	max-width: 100%; */
	
	
}

.rating img {
	max-height: 4px;
}
















