﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.formInput {
	display: inline-block;
}

.grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto [last-line];
	grid-template-rows: auto;
	grid-column-gap: 8px;
}

h3 {
	text-aligh: left;
	font-size: 14px;
}

.titleA {
	display: grid;
	grid-column: 1 / 2;
	grid-row: 1;
}

.titleC {
	display: grid;
	grid-column: 2 / 3;
	grid-row: 1;
	
}

.titleD {
	display: grid;
	grid-column: 3 / 4;
	grid-row: 1;
	max-width: 60px;
}

.titleE {
	display: grid;
	grid-column: 4 / 5;
	grid-row: 1;
}

.titleF {
	display: grid;
	grid-column: 5 / 6;
	grid-row: 1;
}



#border {
	display: grid;
	grid-column: 1 / last-line;
	border-top-style: solid;
	border-color: #e8e8e8;
	border-width: 1px;
}

.firstLast {
	display: grid;
	grid-column: 1 / 2;
	grid-row: auto;
}

.title {
	display: grid;
	grid-column: 1 / 2;
}	

.description {
	display: grid;
	grid-column: 2 / 3;
}

.year {
	display: grid;
	grid-column: 3 / 4;
}		

.length {
	display: grid;
	grid-column: 4 / 5;
}

.rating {
	display: grid;
	grid-column: 5 / 6;
}
			
			
			



